code/node_modules/
code/node_modules/*
code/node_modules/.bin
code/bower_components/
code/*.log

code/build/
code/dist/
.vagrant/
.vagrant/*
code/log/*
code/.tmp/*
code/.cachebust
code/.gitignore
code/client-built/
*.swp
