<section class="home">
  <div class="container">
    <article class="content">
      <div class="games">
        <div class="header1">Choose a <strong>game</strong></div>
        <div class="row">
          <div ng-repeat="game in games" class="col-sm-6 col-md-4 repeated-item"  tooltip="{{ game.description }}" >
            <div class="thumbnail {{ game._id }}" style="background-image: url(/img/game.thumbnail.{{ game._id }}.png)">
              <!--img src="{{ game.thumbnailUrl}}" alt="{{ game.displayName }}"-->
              <div class="caption">
                <h3>{{ game.displayName }}</h3>
                <p>{{ game.nowWaiting }} open | {{game.nowPlaying}} ongoing.</p>
                <p><a ui-sref="app.home.game({gameId: game._id})" class="btn btn-primary" role="button">Find a play</a>
                <!--a ui-sref="app.home.game.newplay({gameId: game._id })" class="btn btn-danger" role="button">New game</a-->
                <button ng-click="newPlay(game._id)" class="btn btn-danger">New game</button>
                </p>
              </div>
            </div>
          </div>
        </div>
        <hr/>
        <div class="row">
          <div class="col-md-4 col-sm-6">
            <center>
              <img src="/img/motto.png"/>
              <h4>More Plays for more Peace!</h4>
            </center>
            <hr/>
            <p>Aside from entertaining, <strong>Pepeto Games</strong> aim to help the world be a better place.
            Games teach us Fair Play. They sharpen our observational skills, make us more smart, and moreover, bring us together and closer.
            </p>
          </div>
          <div class="col-md-4 col-sm-6">
            <center>
              <img src="/img/help.grow.png"/>
              <h4>Help us grow</h4>
            </center>
            <hr/>
            <p>You can make a donation to help the team grow, improve the website, invest in SEO, pay hosting bills and so on. You may want to help in another way like providing new games and algorithms. Just let us know.
            </p>
          </div>
          <div class="col-md-4 col-sm-6">
            <center>
              <img src="/img/contribute.programmer.png"/>
              <h4>Code with us</h4>
            </center>
            <hr/>
            <p>We need code reviews, Artificial Intelligence for games engines, designers and lot of skilled mind.
            Your contributions are welcome. Please go on the <a href="https://github.com/yawo/pepeto">github repository</a> or <a href=" mailto:mcguy2008@gmail.com">contact us</a>.
            </p>
          </div>
        </div>
      </div>
    </article>
  </div>
</section>
