<div class="container">
  <p class="text-muted credit">
    Built by  <a href="//ma.linkedin.com/pub/yawo-guillaume-kpotufe/4b/a91/571/" target="_blank">Yawo Guillaume K.</a>
     &copy; 2014 | Socialize with us &nbsp; &nbsp;  
    <a class="btn btn-social-icon btn-xs btn-twitter">
      <i class="fa fa-twitter"></i>
    </a>&nbsp; 
    <a class="btn btn-social-icon btn-xs btn-facebook">
      <i class="fa fa-facebook"></i>
    </a>&nbsp; 
    <a class="btn btn-social-icon btn-xs btn-google-plus">
      <i class="fa fa-google-plus"></i>
    </a>&nbsp; 
    <a class="btn btn-social-icon btn-xs btn-linkedin">
      <i class="fa fa-linkedin"></i>
    </a>&nbsp; 
    <a class="btn btn-social-icon btn-xs btn-github">
      <i class="fa fa-github"></i>
    </a>&nbsp; 
    
    <!--and the <a href="//github.com/yawo/pepeto">pepeto team</a-->
  </p>
</div>
